<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시리즈 - TIL</title>
  <meta name="description" content="시리즈 목록">
  <meta name="author" content="ellenseon">
  
  <link rel="stylesheet" href="/TIL/styles/main.css">
  <link rel="stylesheet" href="/TIL/styles/prism-github-dark.css">
</head>
<body>
  {{header}}
  
  <main class="about-container">
    <div class="series-list-page">
      {{seriesList}}
    </div>
  </main>
  
  {{footer}}
</body>
</html>

